.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container > .target-cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(30% - 1em);
  min-width: 350px;
  padding-top: 20px;
  margin: 10px 20px 20px;
}

.container > .target-cell-container.target-cell-clicked {
  flex: 3;
}

.container > .target-cell-container > .target-cell {
  /*flex: 1;*/
  width: 348px;
  align-self: center;
  background-color: rgba(214, 224, 226, 0.2);
  padding: 20px;
}

.target-cell .cover {
  height: 105px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  background-color: darkgray;
}
.target-cell .cover h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.target-cell .user {
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: -35px auto 0;
  overflow: hidden;
  width: 120px;
}

.target-cell .user img {
  width: 100%;
}

.target-cell-footer {
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 30px 0 0;
  padding: 10px 0 0;
  text-align: center;
}

.target-cell-details {
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: #4a4a4a;
}

.status-container { margin: 20px 10px; }
.status-bubble {
  display: inline-block;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status-bubble.researching { background-color: purple }
.status-bubble.pending { background-color: #ffc800 }
.status-bubble.approved { background-color: green }
.status-bubble.declined { background-color: red }

.modal-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  height: 100%;
  zIndex: 1
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backgroundColor: rgba(0, 0, 0, 0.5);
}

.new-target-modal {
  position: relative;
  width: 500px;
  padding: 20px;
  boxSizing: border-box;
  backgroundColor: #fff;
  margin: 40px auto;
  borderRadius: 3px;
  zIndex: 2;
  textAlign: left;
  boxShadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.textCenter { text-align: center }

.main-button {
  backgroundColor: #408cec;
  border: 0;
  padding: 12px 20px;
  color: #fff;
  margin: 0 auto;
  width: 150px;
  display: flex;
  alignItems: center;
  textAlign: center;
  borderRadius: 3px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
