.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container > .target-cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(30% - 1em);
  min-width: 350px;
  padding-top: 20px;
  margin: 10px 20px 20px;
}

.container > .target-cell-container.target-cell-clicked {
  flex: 3;
}

.container > .target-cell-container > .target-cell {
  /*flex: 1;*/
  width: 348px;
  align-self: center;
  background-color: rgba(214, 224, 226, 0.2);
}

.modal-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  height: 100%;
  zIndex: 1
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backgroundColor: rgba(0, 0, 0, 0.5);
}

.new-target-modal {
  position: relative;
  width: 500px;
  padding: 20px;
  boxSizing: border-box;
  backgroundColor: #fff;
  margin: 40px auto;
  borderRadius: 3px;
  zIndex: 2;
  textAlign: left;
  boxShadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.textCenter { text-align: center }

.App > .App-header > .main-button {
  backgroundColor: #408cec;
  border: 0;
  padding: 12px 20px;
  color: #fff;
  margin: 0 auto;
  width: 150px;
  display: flex;
  alignItems: center;
  textAlign: center;
  borderRadius: 3px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
